<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
<!--<div th:each="user: ${users}">-->
<!--    <a th:href="@{/users/{id}(id=${user.getId()})}"-->
<!--       th:text="${user.getId() + ' ' + user.getName() + ' ' + user.getLastName() + ' ' + user.getEmail()} ">user</a>-->
<!--</div>-->
<h1>Список пользователей</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>почта</th>
        <th>роль</th>
        <th>действие</th>
    </tr>
    <div th:each="user: ${users}">
    <tr>
        <td th:text ="${user.getId()}"/></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRoles()}"></td>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Показать"/>
            </form>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Изменить"/>
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить"/>
            </form></td>
    </tr>
    </div>
</table>
<br/>
<hr/>
<a href="/admin/new">Создать пользователя</a>
<br/>
<a href="/logout">Выйти</a>


</body>
</html>