<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<h2>Пользователь:</h2>
<div>Логин: </div>
<div th:text="${user.getUsername()}"></div>
<br>
<div>Имя:</div>
<div th:text="${user.getName()}"></div>
<br>
<div>Фамилия:</div>
<div th:text="${user.getLastName()}"></div>
</br>
<div>Возраст:</div>
<div th:text="${user.getAge()}"></div>
</br>
<div>Почта:</div>
<div th:text="${user.getEmail()}"></div>
</br>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>


</body>
</html>